<div>
  <h3>Modulo Externo</h3>
  <input type='text' style='padding:8px;margin:15px auto;width:30%;'
    placeholder='Filtre por ...' (keyup)='filtrePor($event)'
  />
  <ngx-datatable
    #table
    #myTable
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [columns]="colunas"
    class='material'
    [externalPaging]="true"
    [count]="filtros.total"
    [offset]="filtros.offset"
    [limit]="filtros.dadosPorPagina"
    (page)='setarPagina($event)'
    [columnMode]="'force'"
    [rows]="dadosTabela"
    (sort)="onSort($event)">
  </ngx-datatable>
</div>
